mixin stats(data)
  .stats
    .stats__container.container
      ul.stats__list
        li.stats__item.stats__item_1
          .stats__icon
          .stats__item-title Работает дней
          .stats__num 23
        li.stats__item.stats__item_2
          .stats__icon
          .stats__item-title Количество партнеров
          .stats__num 123 443
        li.stats__item.stats__item_3
          .stats__icon
          .stats__item-title Партнеров онлайн
          .stats__num 4 423
        li.stats__item.stats__item_4
          .stats__icon
          .stats__item-title Количество пополнений
          .stats__num 345 300 
            sup.stats__curr usd
        li.stats__item.stats__item_5
          .stats__icon
          .stats__item-title Комплекстный маркетинг
          .stats__num 345 300 
            sup.stats__curr usd