mixin affiliate(data)
  section.affiliate
    .affiliate__top
      .affiliate__container.container
        h2.affiliate__title.title Партнерская программа

    .affiliate__body
      .affiliate__container.container
        .affiliate__columns
          .affiliate__column
            .affiliate__column-title Последние выплаты
            ul.affiliate__list
              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

          .affiliate__column.affiliate__column_second
            .affiliate__column-title Последние пополнения
            ul.affiliate__list
              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 1.97 $

              li.affiliate__item
                .affiliate__avatar
                .affiliate__user-w
                  .affiliate__user Log****g
                  .affiliate__date-w
                    .affiliate__date 29 Ноября 2019   
                    .affiliate__time 13:40

                .affiliate__coin 306 Doge


    .affiliate__bottom
      .affiliate__container.container
        .affiliate__slider
          .affiliate__slider-item.affiliate__slider-item_small
            .affiliate__slider-image
              img(src="assets/images/general/payeer-logo.png", alt="")
          .affiliate__slider-item
            .affiliate__slider-image
              img(src="assets/images/general/perfect-m.png", alt="")
          .affiliate__slider-item.affiliate__slider-item_small
            .affiliate__slider-image
              img(src="assets/images/general/bitcoin-icon.png", alt="")
          .affiliate__slider-item
            .affiliate__slider-image
              img(src="assets/images/general/lite.png", alt="")
          .affiliate__slider-item
            .affiliate__slider-image
              img(src="assets/images/general/doge.png", alt="")
          .affiliate__slider-item.affiliate__slider-item_small
            .affiliate__slider-image
              img(src="assets/images/general/ethereum-logo.png", alt="")
                         
          .affiliate__slider-item.affiliate__slider-item_small
            .affiliate__slider-image
              img(src="assets/images/general/bitcoin-cash.png", alt="")
          .affiliate__slider-item.affiliate__slider-item_small
            .affiliate__slider-image
              img(src="assets/images/general/dash-icon.png", alt="")

          
