.title
  position: relative
  padding-bottom: 22px
  font-size: 40px
  font-weight: 500
  line-height: 1
    
  @include r(1032px)
    font-size: 33px

  &:after
    position: absolute
    top: 100%
    left: 0
    content: ""
    @include bg($dots)

.text
  font-size: 14px
  font-weight: 400
  line-height: 1.714
  

.button
  @include resetbutton()
  padding-top: 12px
  padding-right: 28px
  padding-bottom: 13px
  padding-left: 28px
  height: 40px
  display: inline-block
  vertical-align: top
  background-color: #09a868
  color: #ffffff
  font-size: 14px
  font-weight: 500
  line-height: 1
  text-align: center
  border-radius: 18px
  text-decoration: none
  box-shadow: 1px 2px 4px rgba(13, 126, 81, 0.19)
  @include tr(all .3s ease)
  
  &:hover
    background-color: #14be7a
    @include tr(all .3s ease)
    

.button_secondary
  border: 1px solid #d1d1d1
  padding-top: 6px
  padding-right: 14px
  padding-bottom: 7px
  padding-left: 14px

  display: inline-block
  vertical-align: top
  height: 27px
  background-color: #ffffff
  color: #4c74d9
  font-size: 12px
  font-weight: 500
  line-height: 1
  text-decoration: underline
  box-shadow: none 
  border-radius: 15px
  &:hover
    border: 1px solid #09a868
    background-color: #ffffff
    color: #000 
    font-weight: 500
    text-decoration: none

  

  
.wysiwyg
  h1
    font-size: 40px
  h2
    font-size: 35px
  h3
    font-size: 28px
  h4
    font-size: 23px
  h5
    font-size: 20px
  p
    margin-bottom: 30px
    font-size: 14px
    font-weight: 400
    line-height: 1.714