mixin rates(data)
  section.rates
    .rates__container.container
      h2.rates__title.title Тарифы 
      .rates__w
        .rates__rate
          .rates__top
            .rates__num 1
            .rates__date в день
            .rates__procent-w
              .rates__procent %

          .rates__bottom
            .rates__amount Сумма инвестиций
            dl.rates__list
              .rates__list-item
                dt.rates__term Min
                dd.rates__desc 8 $
              .rates__list-item
                dt.rates__term Max
                dd.rates__desc 340 $


            a.rates__button.button(href="#") Инвестировать

        .rates__rate
          .rates__top
            .rates__num 1.3
            .rates__date в день
            .rates__procent-w
              .rates__procent %

          .rates__bottom
            .rates__amount Сумма инвестиций
            dl.rates__list
              .rates__list-item
                dt.rates__term Min
                dd.rates__desc 8 $
              .rates__list-item
                dt.rates__term Max
                dd.rates__desc 340 $


            a.rates__button.button(href="#") Инвестировать

        .rates__rate
          .rates__top
            .rates__num 1.5
            .rates__date в день
            .rates__procent-w
              .rates__procent %

          .rates__bottom
            .rates__amount Сумма инвестиций
            dl.rates__list
              .rates__list-item
                dt.rates__term Min
                dd.rates__desc 8 $
              .rates__list-item
                dt.rates__term Max
                dd.rates__desc 340 $


            a.rates__button.button(href="#") Инвестировать

        .rates__rate
          .rates__top
            .rates__num 2
            .rates__date в день
            .rates__procent-w
              .rates__procent %

          .rates__bottom
            .rates__amount Сумма инвестиций
            dl.rates__list
              .rates__list-item
                dt.rates__term Min
                dd.rates__desc 8 $
              .rates__list-item
                dt.rates__term Max
                dd.rates__desc 340 $


            a.rates__button.button(href="#") Инвестировать

        .rates__rate
          .rates__top
            .rates__num 2.2
            .rates__date в день
            .rates__procent-w
              .rates__procent %

          .rates__bottom
            .rates__amount Сумма инвестиций
            dl.rates__list
              .rates__list-item
                dt.rates__term Min
                dd.rates__desc 8 $
              .rates__list-item
                dt.rates__term Max
                dd.rates__desc 340 $

            a.rates__button.button(href="#") Инвестировать